* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map-container {
  width: 100vw;
  height: 100vh;
}

.search-box {
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  width: 500px;
  display: flex;
  background-color: #fff;
  margin: 0px auto;
  z-index: 1;
}

.search-box input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

.btn-search {
  background-color: #42a5f5;
  color: #fff;
  border: none;
  padding: 10px;
  outline: none;
}
